<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('_media-header'); %>
  <title>Hello, world!</title>
</head>
<body>
  <div class="container">

    <%- include('_header'); %>

    <h1 style="margin-top: 50px">Upload file!</h1>

      <div class="row">

        <div class="col-md-8">
          <form class="border" action="/" method="POST" enctype="multipart/form-data">
            <div style="padding: 20px">

                  <% if(success == 'true') { %>
                    <div class="alert alert-success" role="alert"><%= message %></div>
                  <% } %>

                  <% if(success == 'false') { %>
                    <div class="alert alert-danger" role="alert"><%= message %></div>
                  <% } %>

                <div class="form-group">
                  <label>Chọn ảnh</label>
                  <input type="file" name="myImage" class="form-control-file"/>
                </div>

                <button type="submit" class="btn">Upload File</button>

            </div>            
          </form>

        </div>

        <div class="col-md-4">
            <% if (file.length > 0) { %>
              <img src="<%= file %>" alt="" class="rounded-0 img-fluid" />
            <% } else { %>
              <img src="/no-image.svg" alt="" class="rounded-0 img-fluid" />
            <% } %>          
        </div>

      </div>
  </div>

  <%- include('_footer'); %>
</body>
</html>